Package: welcome-tigeros
Version: 1.2.10
Depends: zenity, sed, grep, apt-transport-https, curl, gnupg, coreutils, xfconf, wget
Architecture: all
Maintainer: eltonff <eltonfabricio10@gmail.com>
Section: admin
Priority: optional
Installed-Size:1740
Description: Welcome for TigerOS
Conflicts: welcome-tigeros
Replaces: welcome-tigeros
